.logo-img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  margin: 0 auto;
  background: linear-gradient(18deg, #ff6b6b 35%, #caca2b 60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
	position:relative;
}

.logo a {
	 text-decoration: none;  
	color: white; 
}

.logo-img:hover{
	  background: linear-gradient(164deg, #caca2b 35%,#ff6b6b  60%);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
  
}
.logo-img:active{
	 top:2px;
  
}
